<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UENO TOOLS</title>

    <!-- Custom fonts for this template-->
<!--    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
<!--    <link href="css/sb-admin-2.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" type="text/css">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-brush"></i>
                </div>
                <div class="sidebar-brand-text mx-3">UENO TOOLS</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                TOOLS
            </div>

            <!-- Nav Item - AI いらすとや -->
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>AI いらすとや</span></a>
            </li>
            
            <!-- Nav Item - Charts -->
<!--

            <li class="nav-item">
                <a class="nav-link" href="honkokuya.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>comming soon...</span></a>
            </li>
-->

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Begin Page Content -->
            {% block content %}
            <!-- flask content -->
            {% endblock %}

            <!-- End of Page Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; UENO TOOLS 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
<!--    <script src="vendor/jquery/jquery.min.js"></script>-->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}" ></script>
<!--    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}" ></script>

    <!-- Core plugin JavaScript-->
<!--    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>-->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}" ></script>

    <!-- Custom scripts for all pages-->
<!--    <script src="js/sb-admin-2.min.js"></script>-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}" ></script>

    <script type="text/javascript" src="{{ url_for('static', filename='jquery-loading-overlay-2.1.7/dist/loadingoverlay.min.js') }}"></script>

    <!-- AIいらすとや用スクリプト -->
    <script type="text/javascript">
        function send_to_python() {
            // エラー表示を初期化
            $("#error").text(""); 
            // 入力情報を取得
            var prompt = $("#prompt").val();
            var seed = $("#seed").val();
            // ボタンを非活性化
            $("#generate").prop("disabled", true);
            // ボタンをローディング表示
//            $("#generate").LoadingOverlay("show", {
//                background  : "rgba(165, 190, 100, 0.5)"
//            });
            $("#generate").LoadingOverlay("show", {
                image       : "",
                fontawesome : "fa fa-spinner fa-spin"
            });
            // AjaxでPOSTメソッドを呼び出し（画面遷移せず結果画像を表示するため）
            $.ajax("/irasutoya", {// 連想配列をPOSTする
                type: "post",
                data: {
                    "prompt": prompt,
                    "seed": seed,
                },              
            }).done(function(received_data) {           // 戻ってきたのはJSON（文字列）
                var dict = JSON.parse(received_data);   // JSONを連想配列にする
                var image = dict["image"];              // base64エンコードされた画像を取得
                if (image == null) {
                    $("#error").text("画像が取得できませんでした");
                }
                $('#result').attr("src", image);         // html要素を書き換える
                restore()
            }).fail(function() {
                $("#error").text("予期せぬエラーが発生しました");
                restore()
            });
        };
        // ボタン状態を元に戻す
        function restore(){
            $("#generate").prop("disabled", false);
            $("#generate").LoadingOverlay("hide", true);
        }
        // デバッグ用（
        function reset(){
            restore()
            $("#prompt").text("");
            $("#seed").val("-1");
        };
    </script>

</body>
</html>